body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.one { 
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    padding: 0px 124px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 90px;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.header-main {
    display:flex;
    justify-content: space-evenly;
    margin-bottom: 98px;
    gap: 32px;
}

.header-header {
    font-size: 48px;
    font-weight: bolder;
}

.header-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 500px;
    gap: 8px;
}

.header-subtext {
    width: 500px;
    font-size: 18px;
    color: #E5E7EB;
}

.header-img {
    width: 500px;
    height: 200px;
    background-color: #8A8B8F;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.header-button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    border: none;
    padding: 8px 24px;
    border-radius: 5px;

}

.two {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin-bottom: 48px;
    margin-top: 48px;
}

.cards {
    display: flex;
    justify-content: center;
    align-self: stretch;
    gap: 64px;
    margin-bottom: 100px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 150px;
}

.card-txt {
    font-style: italic;
}

.round-img {
    border: 4px solid #3882F6;
    border-radius: 16px;
    height: 150px;
    width: 150px;
}

.three {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.quote {
    display: flex;
    flex-direction:column;
    align-items: center;
    width: 1000px;
}

.quote-txt {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1F2937;
    margin-bottom: 16px;
}

.quote-author {
    align-self: flex-end;
    font-size: 36px;
    font-weight: bold;
}

.four {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0px;
}

.modal {
    display: flex;
    justify-content: flex-end;
    background-color: #3882F6;
    padding: 32px 74px;
    gap: 100px;
    border-radius: 8px;
}

.call {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.call-header {
    font-weight: bold;
}

.call-txt {
    color: #E5E7EB;
}

.call-button {
    text-align: center;
    background-color: #3882F6;
    color: #F9FAF8;
    border: 2px solid #F9FAF8;
    border-radius: 8px;
    padding: 4px 32px;
}

.five {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
}

.footer {
    color: #E5E7EB;
}


.logo,
.call-header,
.header-header {
    color: #F9FAF8;
}